* {
  padding: 0;
  margin: 0;
}
:root{
  font-family: 'Roboto', sans-serif;
}
.content {
  width: 800px;
  height: auto;

  margin: 2rem auto;
  .title {
    font-size: 125%;
    margin: 0.5rem 0;
    font-weight: 700;
  }
}
.todo-header {
  margin: 0.8rem 0;
}
.todo-body {
  width: 100%;

  ion-list {
    width: 100%;

    ion-row {
      width: 100%;

      ion-col {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
      }
    }
  }
}
.text:hover {
  opacity: 0.2;
}
ion-button:hover {
  filter: brightness(50%);
}

.text {
  width: 100%;
  height: auto;
  font-weight: 400;
}

.buttons {
  width: 100%;
}
